:root {
    --bg-color: #02030B;
    --text-color: #d2d2d2;
    --feature-dark: #37425A;
    --feature-light: #9FA7BD;
    --highlight-dark: #bc7e23;
    --highlight-light: #FAB041;
    --highlight-alt-dark: #1f821a;
    --highlight-alt-light: #30bc29;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

h3 {
    margin-bottom: 5px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
    background-color: var(--feature-dark);
    padding: 30px;
    border-bottom: 5px double var(--feature-light);
}

.subpage {
    padding: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 100ms ease, transform 100ms ease;
}

.subpage.activated {
    opacity: 1;
    transform: translateY(0);
}

.toolpage {
    display: hidden;
}

button {
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: large;
    background-color: var(--highlight-light);
    border-style: none;
    border-radius: 5px;
    min-width: 40px;
}

button:hover {
    background-color: var(--highlight-dark);
}

.lit {
    background-color: var(--highlight-alt-light);
}

.lit:hover {
    background-color: var(--highlight-alt-dark);
}

.mainbutton {
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    font-size: larger;
    border-radius: 10px;
}

.inrow {
    display: flex;
}

#backbutton {
    display: none;
}

#bidwriter {
    max-width: 600px;
}

#bwenter {
    margin-left: 50px;
}

#bwenter input {
    width: 50px;
    text-align: center;
}

#bwboard td {
    background-color: white;
    color: black;
    text-align: center;
    font-size: x-large;
    min-width: 50px;
    min-height: 10px;
}

.club {
    color: rgb(0, 152, 0);
}

.diamond {
    color:rgb(191, 187, 0)
}

.heart {
    color: red;
}

.spade {
    color: black;
}

.dbl {
    display: inline-block;
    color: white;
    background-color: red;
    padding: 2px 2px;
    line-height: 1;
    border-radius: 5px;
}

.rdbl {
    display: inline-block;
    color: white;
    background-color: blue;
    padding: 2px 2px;
    line-height: 1;
    border-radius: 5px;
}

.pass {
    color: green;
    text-transform: uppercase;
    font-size: small;
}

.vul {
    background-color: rgb(161, 0, 0);
}

.nonvul {
    background-color: green;
}

#bwtablebg {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

#bwtablecanvas {
    background-color: black;
    padding: 2px;
}

#bwtableback {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 5px;
}

#bwtableback th {
    font-size: larger;
}

@media (max-width: 630px) {
    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    h1 {
        font-size: x-large;
    }

    .inrow {
        flex-direction: column;
    }

    #bwenter {
        margin-left: 0;
    }

    .inline {
        flex-direction: column;
    }

    #bwFinalButtons {
        margin-top: 20px;
    }
}