#systemsheet h3 {
    margin-top: 15px;
}

#systemName {
    width: 300px;
    margin-bottom: 30px;
}

#sheetOptions {
    display: flex;
    justify-content: space-between;
}

#sheetLB {
    display: flex;
    flex-direction: column;
}

#sheetUB,
#sheetDB {
    display: flex;
}

#sheetUB button,
#sheetDB button {
    width: stretch;
}

#sheetOperations {
    display: flex;
}

#sheetManageSystems {
    background-color: #4e4e4e;
    min-width: 300px;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 20px;
}

#sheetManageSystems button {
    width: 90%;
}

#sheetManageTitle {
    margin-right: 0;
}

.a4sheet {
    height: 210mm;
    width: 297mm;
    margin-top: 20px;
    background-color: white;
    color: black;
}

.a4sheet,
.a4sheet * {
    visibility: visible;
    display: flex;
}

.a4sheet {
    visibility: hidden;
}

#a5left {
    border-right: 1px dashed #aaa;
    background-color: rgb(255, 255, 255);
}

#a5right {
    border-right: 1px dashed #aaa;
    background-color: rgb(255, 255, 255);
    display: none;
}

.a5sized {
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: start;
    padding: 25px 15px;
}

.a5sized * {
    display: flex;
}

.sheetContent {
    text-align: center;
    width: 100%;
}

.pdHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 10px;
}

.pdHeader>div {
    width: 33%;
    justify-content: center;
}

.pdLeft {
    align-items: start
}

.pdRight {
    align-items: end;
}

.pdHeader h1,
.pdHeader h2 {
    white-space: nowrap;
}

.pdPlayer {
    flex-direction: column
}

.pdTableContainer {
    width: 100%;
}

.pdTableContainer * {
    display: revert;
}

.pdTableContainer td {
    border-top: 1px solid rgb(109, 109, 109);
    border-left: 1px solid rgb(109, 109, 109);
    border-collapse: collapse;
    padding: 0 5px;
}

.pdTableContainer td:first-of-type {
    border-left: none;
}

.pdTableContainer tr:nth-of-type(2)>td {
    border-top: none;
}

.pdHeightContainer {
    flex-direction: column;
}

.pdTextareasContainer {
    flex-direction: column;
}

@media (max-width: 630px) {

    html,
    body {
        overflow-x: hidden;
    }

    #sheetManageSystems {
        position: relative;
    }

    #sheetOptions {
        flex-direction: column;
    }

    .sheetUpperInputs {
        width: 300px;
    }

    textarea {
        max-width: 320px;
    }

    #bidsResponsesInputTable input {
        max-width: 90px;
    }

    /*
    .a4sheet,
    .a4sheet * {
        visibility: hidden;
    }
    */

}

@media print {
    @page {
        margin: 5mm;
        size: A4 landscape;
    }

    body * {
        visibility: hidden;
    }

    .a4sheet,
    .a4sheet * {
        visibility: visible;
        display: flex;
    }

    .a4sheet {
        position: absolute;
        transform: translateY(-170px);
        left: 0;
        top: 0;
        border: none;
        margin-top: 0;
        margin-bottom: 0;
        page-break-after: avoid;
        page-break-before: avoid;
        break-inside: avoid;
    }

    .pdTableContainer * {
        display: revert;
    }

    .a5sized {
        width: 50%;
        height: 100%;
    }

    #a5right {
        display: flex;
    }
}